@using Microsoft.AspNet.Identity
@model SoftwareTechnologiesTeamProject.ViewModels.PostDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="post-info-wrapper">
    <h4>Post</h4>
    <hr/>

    <div class="featured_articles_heading">
        <h2>@Html.DisplayFor(model => model.Post.Title)</h2>
        <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(model => model.Post.Date)</p>

        <h3>By <a href="#">@Html.DisplayFor(model => model.Post.Author.FullName)</a>
        </h3>
    </div>
   
    <div class="featured_articles_detail">
        
        <div class="featured_articles_img">
            
            
            @if (Model.PostImage != null)
            {
                <img class="img-responsive" src="~/Content/Images/PostImages/@Model.PostImage.ImagePath" alt="Bar"/>
                   if (User.IsInRole("Administrator") || (Model.Post.Author != null && User.Identity.Name == Model.Post.Author.UserName))
                    {
                        using (Html.BeginForm("AddPostImage/" + Html.DisplayFor(model => model.Post.Id), "Images", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="editor-label">
                                @Html.Label("Change image")
                            </div>
                            <div class="editor-field">
                                <input id="ImagePath" title="Upload a product image"
                                       type="file" name="file"/>
                            </div>
                            <p>
                                <input type="submit" value="Change"/>
                            </p>
                        </fieldset>
                    }
                }
            }
            else
            {
                if (User.IsInRole("Administrator") || (Model.Post.Author != null && User.Identity.Name == Model.Post.Author.UserName))
                {

                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                    using (Html.BeginForm("AddPostImage/" + Html.DisplayFor(model => model.Post.Id), "Images", null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <fieldset>
                            <div class="editor-label">
                                @Html.Label("Change image")
                            </div>
                            <div class="editor-field">
                                <input id="ImagePath" title="Upload a product image"
                                       type="file" name="file"/>
                            </div>
                            <p>
                                <input type="submit" value="Add Image"/>
                            </p>
                        </fieldset>
                    }
                }
            }

            <hr/>
        </div>
        <div class="post-details-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8"> @Html.DisplayFor(model => model.Post.Body)</div>
                </div>
            </div>
            
        </div>
    </div>
        <div class="tag-container">

            @foreach (var tag in Model.Post.Tags)
            {
                @Html.ActionLink(tag.Name, "Tag", new { id = tag.Id })
            }
        </div>
            @if (Model.Post.HasVoted(User.Identity.GetUserId()))
            {
                <span class="glyphicon glyphicon-heart liked"></span>
            }
            else
            {

                @Html.ActionLink(" ", "AddLike", new { id = Model.Post.Id }, new { @class = "glyphicon glyphicon-heart" })
            }
        
            @Model.Post.VotedUsers.Count
       

    <p>
        @if (User.IsInRole("Administrator") || (Model.Post.Author != null && User.Identity.Name == Model.Post.Author.UserName))
        {
            <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Edit", "Edit", new { id = Model.PostId })</span></button>
            <br/>
        }
        <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Back to List", "Index")</span></button>
        
    </p>
</div>
<div class="add-comment-wrapper">
    @using (Html.BeginForm("AddComment", "Posts", FormMethod.Post))
    {
        @Html.ValidationMessageFor(model => model.NewCommentContent, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.PostId)
        @Html.HiddenFor(m => m.CommentAuthorId)
        @Html.HiddenFor(m => m.Post.Author)

        @Html.TextAreaFor(m => m.NewCommentContent, new { @class = "add-comment-text-area" })
        <input type="submit" value="Add comment" class="bottom-right" />
    }

</div>



<div class="comments-wrapper">
    <br />
    <h1>Comments(@Model.Post.Comments.Count)</h1>
    <hr />
    <div class="comments">
        @foreach (var comment in Model.Post.Comments)
        {
            <div class="single-comment" id="single-comment-@comment.Id">
                <div class="info">
                    <p>
                        <strong>@comment.Author.FullName</strong> - <i>@comment.DateCreated</i>
                    </p>
                </div>

                <div class="actions">
                    @if (User.IsInRole("Administrators") || User.Identity.Name == comment.Author.UserName)
                    {
                        <br/>
                        <a id="deleteLink-@comment.Id" class="confirmDeleteLink" onclick="showConfirmDelete(@comment.Id)">Delete</a>
                        <a onclick="showEditPostDiv(@comment.Id)" id="editLink-@comment.Id" class="cancelConfirmDelete">Edit</a>
                    }
                </div>

                <div class="single-comment-content" id="@comment.Id-content">
                    @Html.DisplayFor(m => comment.Content)
                </div>
                @using (Html.BeginForm("EditComment", "Posts", FormMethod.Post, new {@class = " hidden edit-form", id = comment.Id}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                    @Html.HiddenFor(m => comment.AuthorId)
                    @Html.HiddenFor(m => comment.Id)
                    @Html.HiddenFor(c => comment.DateCreated)
                    @Html.HiddenFor(c => comment.PostId)

                    @Html.TextAreaFor(m => comment.Content)
                    @Html.ValidationMessageFor(model => model.NewCommentContent, "", new {@class = "text-danger"})

                    <div class="edit-comment-actions">
                        <input type="submit" value="Edit" class="edit-comment-button btn btn-primary"/>
                        <a onclick="cancelEdit(@comment.Id)" class="edit-comment-cancel-link">Cancel</a>
                    </div>
                }

            </div>
            <hr />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function showEditPostDiv(commentId) {
            $("#" + commentId).removeClass("hidden");
            $('#' + commentId + "-content").hide();
            $("#editLink-" + commentId).hide();
            $("#deleteLink-" + commentId).hide();
        }

        function cancelEdit(commentId) {
            $("#" + commentId).addClass("hidden");
            $('#' + commentId + "-content").show();
            $("#editLink-" + commentId).show();
            $("#deleteLink-" + commentId).show();
        }

        function showConfirmDelete(commentId) {
            $("#single-comment-" + commentId).children().hide();
            let confirmDeleteElements =
                "<div id='confirmDelete-"+ commentId + "' class='confirmDelete'>" +
                    "<p>Confirm delete</p>" +
                    "<a href='/Posts/DeleteComment/" + commentId + "' class='confirmDeleteLink'>Delete</a>" +
                    "<a id='cancelDelete-"+ commentId + "' onclick='cancelConfirmDelete(" + commentId + ")' class='cancelConfirmDelete'>Cancel</a>" +
                    "</div>";
            $("#single-comment-" + commentId)
                .append(confirmDeleteElements);
        }

        function cancelConfirmDelete(commentId) {
            $("#confirmDelete-" + commentId).remove();
            $("#single-comment-" + commentId).children().show();
        }

    </script>
}