@model IEnumerable<SoftwareTechnologiesTeamProject.Models.Post>

@{
    ViewBag.Title = "Posts";
}
<h2>Tag: @ViewBag.Header</h2>
<br />

<div class="col-md-8">
    @Html.ActionLink("Create new", "Create")

    @foreach (var post in Model.OrderByDescending(p => p.Date))
    {
        <h2> @Html.ActionLink(post.Title, "Details", new { id = post.Id })</h2>

        if (post.Author == null)
        {
            <p class="lead">
                by <a>Anonymous</a>
            </p>
        }

        else
        {
            <p class="lead">
                by <a href=#>@Html.DisplayFor(modelItem => post.Author.FullName)</a>
            </p>
        }
        <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(modelItem => post.Date)</p>
        <div class="titleImage">

            @if (post.Image != null)
            {
                <img class="img-responsive" src="~/Content/Images/PostImages/@post.Image.ImagePath" alt="Bar" />
            }
        </div>
        <p>@post.ShortText()</p>


        if (User.IsInRole("Administrator") || (post.Author != null && User.Identity.Name == post.Author.UserName))
        {
            <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Edit", "Edit", new { id = post.Id }) </span></button>
            <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Delete", "Delete", new { id = post.Id }) </span></button>
        }
        <hr />
    }

    </div>

    <div class="col-md-4">

        <div class="well">
            <h4>Търсене</h4>
            <div class="input-group">
                @using (Html.BeginForm("Index", "Posts", FormMethod.Post))
                {
                    <input class="searchPost" type="text" name="searchString" placeholder="Search..">
                }
            </div>

        </div>

        <div class="well">
            <h4>Tags</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Tags</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                        <li>
                            <a href="#">Tags</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>
