@using System.Globalization
@model SoftwareTechnologiesTeamProject.ViewModels.TeamDetailsViewModel
@{
    ViewBag.Title = "Details";
}

@if (User.IsInRole("Administrator"))
{
    <div class="adminActions" >
        <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Edit", "Edit", new { id = Model.Team.Id })</span></button>
        <button class="button" style="vertical-align: middle"><span>@Html.ActionLink("Delete", "Delete", new { id = Model.Team.Id })</span></button>
    </div>
}

<div class="container">
    <div class="leagueNameWrapper">
            <div class="col-md-3">
                <img src="@Model.Team.LogoLink" alt="clubLogo" width="130" class="teamDetailsLogo" />
            </div>
            <div class="col-md-6 teamDetailsTeamNameHeading">
                <h1>@Model.Team.Name</h1>
                <h4>@Model.League.Name - @Model.League.Country</h4>
            </div>
            <div class="col-md-3">
                <table class="table-condensed teamInfoTable">
                    <tr class="tableHead">
                        <th class="text-center" colspan="2">Team info</th>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.LabelFor(model => model.Team.City):</td>
                        <td class="text-left">@Model.Team.City</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.LabelFor(model => model.Team.Coach):</td>
                        <td class="text-left">@Model.Team.Coach</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.LabelFor(model => model.Team.Stadium):</td>
                        <td class="text-left">@Model.Team.Stadium</td>
                    </tr>
                    <tr>
                        <td class="text-right">@Html.LabelFor(model => model.Team.StadiumCapacity):</td>
                        <td class="text-left">@Model.Team.StadiumCapacity.ToString("#,#", CultureInfo.InvariantCulture)</td>
                    </tr>
                    <tr>
                        <td class="boldInfo text-right">Stadium size:</td>
                        <td class="text-left">@Model.Team.GetStadiumSize()</td>
                    </tr>
                </table>
            </div>

    </div>

    <div class="playedGamesWrapper">
        <div class="row teamDetailsInfoRow">
            <div class="col-md-12">
                <h3>Games played in the league so far</h3>
                <table class="table matchHistoryTable">
                    <tr class="tableHead">
                        <th class="matchHistoryDate">Date</th>
                        <th class="matchHistoryHomeTeam">Home team</th>
                        <th class="historyMatchResult">Result</th>
                        <th class="matchHistoryAwayTeam">Away team</th>
                    </tr>

                    @foreach (var match in Model.GetPlayedMatches())
                    {
                        <tr>
                            <td class="matchHistoryDate">@match.GetShortDate()</td>
                            @if (match.HomeTeam.Name == Model.Team.Name)
                            {
                                <td class="matchHistoryHomeTeam boldTeamName">@match.HomeTeam.Name</td>
                            }
                            else
                            {
                                <td class="matchHistoryHomeTeam">@match.HomeTeam.Name</td>
                            }

                            @if (match.GetWinnerName() == "draw")
                            {
                                <td class="historyMatchResult" style="background: rgb(255, 202, 104)">@match.HomeTeamGoals - @match.AwayTeamGoals</td>
                            }
                            else if (match.GetWinnerName() == Model.Team.Name)
                            {
                                <td class="historyMatchResult" style="background: lightgreen">@match.HomeTeamGoals - @match.AwayTeamGoals</td>
                            }
                            else
                            {
                                <td class="historyMatchResult" style="background: rgb(255, 57, 57)">@match.HomeTeamGoals - @match.AwayTeamGoals</td>
                            }

                            @if (match.AwayTeam.Name == Model.Team.Name)
                            {
                                <td class="matchHistoryAwayTeam boldTeamName">@match.AwayTeam.Name</td>
                            }
                            else
                            {
                                <td class="matchHistoryAwayTeam">@match.AwayTeam.Name</td>
                            }
                        </tr>
                    }
                </table>

                @* Paragraph info after table total wins,draws and losses in all games played through the season *@
                <p>
                    Total of <strong>@Model.Team.Victories</strong> wins
                    @if (Model.Team.Draws > 0 && Model.Team.Losses > 0)
                    {
                        @:,<strong>@Model.Team.Draws</strong> draws and <strong>@Model.Team.Losses</strong> losses
                }
                    else if (Model.Team.Draws > 0 && Model.Team.Losses == 0)
                    {
                        @:,<strong>@Model.Team.Draws</strong> draws
                }
                    else if (Model.Team.Losses > 0 && Model.Team.Draws == 0)
                    {
                        @:,<strong>@Model.Team.Losses</strong> losses
                }

                    in last <strong>@Model.Team.GetTotalGamesPlayed()</strong> games played through season @Model.Team.League.GetSeason()
                </p>
            </div>
        </div>
    </div>
    <div class="teamStatsWrapper">
        <div class="seasonStats">
            <div class="row teamDetailsInfoRow">
                @* Wins/Draws/Losses stats *@
                <div class="col-md-3">
                    <table class="table table-condensed teamStatsTable">
                        <tr class="tableHead">
                            <td class="text-left boldInfo">Games played</td>
                            <td class="text-right">@Model.GetPlayedMatches().Count</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Wins</td>
                            <td class="text-right">@Model.GetWinsInPercents()</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Draws</td>
                            <td class="text-right">@Model.GetDrawsInPercents()</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Losses</td>
                            <td class="text-right">@Model.GetLossesInPercents()</td>
                        </tr>
                    </table>
                </div>

                @* Goals stats *@
                <div class="col-md-3">
                    <table class="table table-condensed teamStatsTable">
                        <tr class="tableHead">
                            <td class="text-left boldInfo">Goals</td>
                            <td class="text-right">@Model.Team.GetTotalGoals()</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Average per game</td>
                            <td class="text-right">@Model.Team.GetAverageGoalsPerGame()</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Average goals for</td>
                            <td class="text-right">@Model.Team.GetAverageGoalsFor()</td>
                        </tr>
                        <tr>
                            <td class="text-left boldInfo">Average goals against</td>
                            <td class="text-right">@Model.Team.GetAverageGoalsAgainst()</td>
                        </tr>
                    </table>
                </div>

                @* Goals stats *@
                <div class="col-md-3">
                    <table class="table table-condensed teamStatsTable leftSide">
                        <tr class="tableHead">
                            <th class="text-center">Goals</th>
                            <th class="text-center">Under</th>
                            <th class="text-center">Over</th>
                        </tr>
                        <tr>
                            <td class="text-center">1.5</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("under", "1.5")</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("over", "1.5")</td>
                        </tr>
                        <tr>
                            <td class="text-center">2.5</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("under", "2.5")</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("over", "2.5")</td>
                        </tr>
                        <tr>
                            <td class="text-center">3.5</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("under", "3.5")</td>
                            <td class="text-center">@Model.GetMatchesGoalsInfo("over", "3.5")</td>
                        </tr>
                    </table>
                </div>

                @* The most common results *@
                <div class="col-md-3">
                    <table class="table table-condensed teamStatsTable resultsInfo leftSide">
                        <tr class="tableHead">
                            <th class="tableHeading" colspan="3">The most common results</th>
                        </tr>
                        <tr>
                            <td class="boldInfo">Result</td>
                            <td title="Number of matches with this result" class="boldInfo">Matches</td>
                            <td class="boldInfo">Percents</td>
                        </tr>
                        @foreach (var stat in Model.GetTeamStats())
                        {
                            <tr>
                                <td class="text-center">
                                    @stat.Result
                                </td>
                                <td class="text-center">
                                    @stat.MatchesPlayed
                                </td>
                                <td class="text-center">
                                    @stat.GetPercents(@Model.GetPlayedMatches().Count)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    @*
        Mini Standings
    *@
    <div class="teamDetailsStandingsFixturesContainer">
        <div class="row teamDetailsInfoRow">
            <div class="col-md-6 rightCol">
                <table class="table table-condensed">
                    <tr class="tableHead">
                        <th colspan="5">@Model.League.Name</th>
                    </tr>
                    <tr>
                        <th class="standingsInfo">Position</th>
                        <th class="standingsTeamName">Team</th>
                        <th class="standingsInfo" title="Played">Pl</th>
                        <th class="standingsInfo" title="Goal Difference">GD</th>
                        <th class="standingsInfo" title="Points">Pts</th>
                    </tr>

                    @foreach (var keyValuePair in Model.GetMiniStandings())
                    {
                        int position = keyValuePair.Key;
                        var currentTeam = keyValuePair.Value;

                        if (keyValuePair.Value.Name == Model.Team.Name)
                        {
                            <tr class="highlightedTeam">
                                <td class="standingsInfo">@position</td>
                                <td class="highlightedTeam standingsTeamName">
                                    <a href="/Teams/Details/@currentTeam.Id" class="teamLink">
                                        <img src="@currentTeam.LogoLink" alt="Club Logo" width="20" height="20" /> @currentTeam.Name
                                    </a>
                                </td>
                                <td class="standingsInfo">@currentTeam.GetTotalGoals()</td>
                                <td class="standingsInfo">@currentTeam.GetGoalDifference()</td>
                                <td class="standingsInfo">@currentTeam.Points</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="standingsInfo">@position</td>
                                <td class="standingsTeamName">
                                    <a href="/Teams/Details/@currentTeam.Id" class="teamLink">
                                        <img src="@currentTeam.LogoLink" alt="Club Logo" width="20" height="20" /> @currentTeam.Name
                                    </a>
                                </td>
                                <td class="standingsInfo">@currentTeam.GetTotalGoals()</td>
                                <td class="standingsInfo">@currentTeam.GetGoalDifference()</td>
                                <td class="standingsInfo">@currentTeam.Points</td>
                            </tr>
                        }
                    }
                </table>
                <div class="tablesLinkContainer">
                    <a href="/Leagues/Standings/@Model.Team.LeagueId" class="tablesLink">View Full Table</a>
                </div>
            </div>

            @*
                Team upcoming matches
            *@
            <div class="col-md-6 leftCol">
                <table class="table table-condensed">
                    <tr class="tableHead">
                        <th colspan="4">Matches</th>
                    </tr>
                    @foreach (var match in Model.GetUpcomingMatches())
                    {
                        <tr class="singleUpcomingMatch" onmouseover="changeLinkColor(@match.Id)" id="linkRow-@match.Id" onmouseout="resetLinkColor(@match.Id)">
                            <td>
                                <a href="/Matches/Details/@match.Id" class="matchLink fixtureLink-@match.Id">
                                    @match.GetShortDate()
                                </a>
                            </td>
                            <td>
                                <a href="/Matches/Details/@match.Id" class="matchLink text-right fixtureLink-@match.Id">
                                    @match.HomeTeam.Name <img src="@match.HomeTeam.LogoLink" width="20" height="20" alt="Club logo" />
                                </a>
                            </td>
                            <td>
                                <a href="/Matches/Details/@match.Id" class="matchLink fixtureLink-@match.Id">@match.GetTime()</a>
                            </td>
                            <td>
                                <a href="/Matches/Details/@match.Id" class="matchLink text-left fixtureLink-@match.Id">
                                    <img src="@match.AwayTeam.LogoLink" width="20" height="20" alt="Club logo" /> @match.AwayTeam.Name
                                </a>
                            </td>
                        </tr>
                    }
                </table>
                <div class="tablesLinkContainer">
                    <a href="/Matches/Matches" class="tablesLink">View All Matches</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function changeLinkColor(rowId) {
        let timeCell = $('#linkRow-' + rowId);

        timeCell.css('background', 'darkgreen');

        for (let i = 0; i < $($(".fixtureLink-" + rowId)).length; i++) {
            let currentElement = $($(".fixtureLink-" + rowId)[i]);
            currentElement.css('color', 'white');
        }
    }

    function resetLinkColor(rowId) {
        let timeCell = $('#linkRow-' + rowId);

        timeCell.css('background', 'white');

        for (let i = 0; i < $($(".fixtureLink-" + rowId)).length; i++) {
            let currentElement = $($(".fixtureLink-" + rowId)[i]);
            currentElement.css('color', 'black');
        }
    }
</script>