@using SoftwareTechnologiesTeamProject.Models
@using System.IO;
@using System.Collections.Generic;
@model SoftwareTechnologiesTeamProject.ViewModels.AboutUsViewModel


@{
    ViewBag.Title = "About Us";
}
<div class="about-header">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</div>
<br />

<div class="aboutUs">
    <h2>Our team:</h2>
    <br />

    <div class="row">
        @foreach (var member in Model.Developers)
        {

            <div class="col-md-3">
                <img class="dev-img" src="@member.Image.ImagePath" width="170" height="170" />
                <hr />
                <div>
                    <input type="checkbox" class="read-more-state" id="post-1" />
                    <p class="about-us read-more-wrap">
                        @member.Name <br />
                        <span class="read-more-target">
                            @member.Info
                        </span>
                    </p>
                    <label for="post-1" class="read-more-trigger"></label>
                </div>
            </div>
        }
    </div>
</div>