<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoftUni Team Project</title>

</head>
<body>
    <div class="example3">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" title="Drop Table">
                       
                        <img src="~/Content/Images/droptablev11.png" alt="DROP TABLE">
                    </a>
                </div>
                <div id="navbar3" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="navButtons">@Html.ActionLink("Posts", "Index", "Posts")</li>
                        <li class="navButtons">@Html.ActionLink("Standings", "Index", "Leagues")</li>
                        <li class="navButtons">@Html.ActionLink("Fixtures", "Matches", "Matches")</li>
                        <li class="navButtons">@Html.ActionLink("About Us", "About", "Home")</li>

                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
             
            </div>
           
        </nav>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>



@Html.Partial("_Notifications")
@Styles.Render("~/Content/css")
@RenderSection("styles", required: false)
@Scripts.Render("~/bundles/modernizr")

<div class="container body-content">
    @RenderBody()
</div>
<div class="footer">Drop Table Team Project - Software Technologies - <a href="http://softuni.bg">SoftUni</a>
</div>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

<script type="text/javascript">

</script>