@model SoftwareTechnologiesTeamProject.Models.Team
@{
    ViewBag.Title = "EditTeam";
}

<h2>EditTeam</h2>


<table class="table standingsTable">
    <tr>
        <th class="standingsInfo"></th>
        <th class="standingsTeamName">Club</th>
        <th class="standingsInfo">Games played</th>
        <th class="standingsInfo">Victories</th>
        <th class="standingsInfo">Draws</th>
        <th class="standingsInfo">Losses</th>
        <th class="standingsInfo">Goals for</th>
        <th class="standingsInfo">Goals against</th>
        <th class="standingsInfo">Points</th>
        <th class="standingsInfo"></th>
    </tr>
    @*<tr>
        @using (Html.BeginForm("EditTeam", "Leagues", FormMethod.Post))
        {

            @Html.AntiForgeryToken()

            <td class="standingsTeamName">
                <div class="newTeamInputClubName">@Html.TextBoxFor(m => Model.Name, new {@Value = Model.Name})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.GamesPlayed, new { Value = Model.GamesPlayed })</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.Victories, new {Value = Model.Victories})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.Draws, new {Value = Model.Draws})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.Losses, new {Value = Model.Losses})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.GoalsFor, new {Value = Model.GoalsFor})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.GoalsAgainst, new {Value = Model.GoalsAgainst})</div>
            </td>
            <td class="standingsInfo">
                <div class="newTeamInput">@Html.TextBoxFor(m => Model.Points, new {Value = Model.Points})</div>
            </td>
            @Html.HiddenFor(m => m.LeagueId)
            @Html.HiddenFor(m => m.Id)
            <td class="standingsInfo">
                <div class="teamTableInfoCells">
                    <input type="submit" value="Edit" class="btn btn-default"/>
                </div>
            </td>

        }
    </tr>*@


    @using (Html.BeginForm("EditTeam", "Leagues", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <tr>
            <td>

                <div>
                    @Html.TextBoxFor(m => m.LogoLink, new {Value = Model.LogoLink})
                </div>
            </td>
            <td>

                <div class="newTeamInputClubName">
                    @Html.TextBoxFor(m => m.Name, new {htmlAttributes = new {@class = "form-control", Value = Model.Name}})
                    @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.GamesPlayed, new {Value = Model.GamesPlayed})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.Victories, new {Value = Model.Victories})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.Draws, new {Value = Model.Draws})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.Losses, new {Value = Model.Losses})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.GoalsFor, new {Value = Model.GoalsFor})
                </div>
            </td>
            <td>

                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.GoalsAgainst, new {Value = Model.GoalsAgainst})
                </div>
            </td>
            <td>
                <div class="newTeamInput">
                    @Html.TextBoxFor(m => m.Points, new {Value = Model.Points})
                </div>
            </td>
            @Html.HiddenFor(m => Model.LeagueId)
            <td>
                <div>
                    <input type="submit" value="Edit team"/>
                </div>
            </td>
        </tr>
    }
</table>
