@model SoftwareTechnologiesTeamProject.ViewModels.StandingsViewModel
@{
    ViewBag.Title = "Standings";
}

<h2>@Model.LeagueName - Standings</h2>

<table class="table">
    <tr class="tableInfoCells">
        <th>№</th>
        <th>Team</th>
        <th>Games played</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th>Goals for</th>
        <th>Goals against</th>
        <th>Goal difference</th>
        <th>Points</th>
        <th></th>
        <th></th>
    </tr>


    @for (int i = 0; i < Model.Teams.Count; i++)
    {
        var team = Model.Teams[i];
        var position = i + 1;

        <tr class="singleTeamInfo" id="singleTeamInfo-@team.Id">
            <td>
                <div class="teamTableInfoCells">@position</div></td>
            <td>
                <div class="teamTableInfoCells clubName">@team.Name</div></td>
            <td>
                <div class="teamTableInfoCells">@team.GamesPlayed</div></td>
            <td>
                <div class="teamTableInfoCells">@team.Victories</div></td>
            <td>
                <div class="teamTableInfoCells">@team.Draws</div></td>
            <td>
                <div class="teamTableInfoCells">@team.Losses</div></td>
            <td>
                <div class="teamTableInfoCells">@team.GoalsFor</div></td>
            <td>
                <div class="teamTableInfoCells">@team.GoalsAgainst</div></td>
            <td>
                <div class="teamTableInfoCells">@team.GoalDifference</div></td>
            <td>
                <div class="teamTableInfoCells">@team.Points</div></td>
            @if (User.IsInRole("Administrator"))
            {
                <td><div class="teamTableInfoCells">@Html.ActionLink("Delete", "DeleteTeam", new {id = team.Id})</div></td>
                <td><div class="teamTableInfoCells">@Html.ActionLink("Edit", "EditTeam", new { id = team.Id })</div></td>
            }
        </tr>

        
    }

    @if (User.IsInRole("Administrator"))
    {
        using (Html.BeginForm("AddTeam", "Leagues", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>

                    <div>
                        @Html.TextBoxFor(m => m.NewTeam.LogoLink, new { placeholder = "Paste link of the team logo" })
                    </div>
                </td>
                <td>

                    <div class="newTeamInputClubName">
                        @Html.TextBoxFor(m => m.NewTeam.Name)
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GamesPlayed, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Victories, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Draws, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Losses, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GoalsFor, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GoalsAgainst, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GoalDifference, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Points, new { Value = 0 })
                    </div>
                </td>
                @Html.HiddenFor(m => m.LeagueId)
                <td>
                    <div class="newTeamInput">
                        <input type="submit" value="Add team" style="width: 100%"/>
                    </div>
                </td>
            </tr>
        }
    }
</table>