@model SoftwareTechnologiesTeamProject.ViewModels.StandingsViewModel
@{
    ViewBag.Title = "Standings";
}

<span class="standingsHeading">@Model.League.Name (@Model.League.GetSeason()) - Standings</span>
<table class="table standingsTable">
    <thead>
        <tr>
            <th class="standingsInfo">№</th>
            <th class="standingsTeamName">Team</th>
            <th class="standingsInfo" title="Games played">GP</th>
            <th class="standingsInfo">Wins</th>
            <th class="standingsInfo">Draws</th>
            <th class="standingsInfo">Losses</th>
            <th class="standingsInfo" title="Goals for">GF</th>
            <th class="standingsInfo" title="Goals against">GA</th>
            <th class="standingsInfo" title="Goals difference">GD</th>
            <th class="standingsInfo">Points</th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < Model.Teams.Count; i++)
        {
                int position = i + 1;
                var team = Model.Teams[i];
                <tr>
                    <td class="standingsInfo">@position</td>
                    <td class="standingsTeamName"><img src="@team.LogoLink" width="20" />@team.Name</td>
                    <td class="standingsInfo">@team.GamesPlayed</td>
                    <td class="standingsInfo">@team.Victories</td>
                    <td class="standingsInfo">@team.Draws</td>
                    <td class="standingsInfo">@team.Losses</td>
                    <td class="standingsInfo">@team.GoalsFor</td>
                    <td class="standingsInfo">@team.GoalsAgainst</td>
                    <td class="standingsInfo">@team.GetGoalDifference()</td>
                    <td class="standingsInfo">@team.Points</td>
                </tr>
        }
    </tbody>

    @* Add new team form *@

    @if (User.IsInRole("Administrator"))
    {
        using (Html.BeginForm("AddTeam", "Leagues", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <tr>
                <td>

                    <div>
                        @Html.TextBoxFor(m => m.NewTeam.LogoLink, new { placeholder = "Paste link of the team logo" })
                    </div>
                </td>
                <td>

                    <div class="newTeamInputClubName">
                        @Html.TextBoxFor(m => m.NewTeam.Name)
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GamesPlayed, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Victories, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Draws, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Losses, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GoalsFor, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.GoalsAgainst, new { Value = 0 })
                    </div>
                </td>
                <td>

                    <div class="newTeamInput">
                        <input type="text" value="" disabled="disabled" />
                    </div>
                </td>
                <td>
                    <div class="newTeamInput">
                        @Html.TextBoxFor(m => m.NewTeam.Points, new { Value = 0 })
                    </div>
                </td>
                @Html.HiddenFor(m => m.League.Id)
                <td>
                    <div class="newTeamInput">
                        <input type="submit" value="Add team" style="width: 100%" />
                    </div>
                </td>
            </tr>
        }
    }
</table>

