@model SoftwareTechnologiesTeamProject.Models.Match

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeTeamVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeTeamVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayTeamVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayTeamVotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
