@model SoftwareTechnologiesTeamProject.ViewModels.MatchesIndexViewModel

@{
    ViewBag.Title = "Fixtures";
}

<div class="container">
    <div class="row">

        @if (User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Create new", "CreateChooseLeague")
        }
        

        <h1 id="dateHeader">Fixtures</h1>

        @foreach (var kvp in Model.GetUpcomingMatches())
        {
            <table class="table upcomingMatchesTable">
                <thead>
                    <tr class="upcomingMatchesTableHead">
                        <th colspan="3">@kvp.Key</th>
                        <th class="upcomingMatchCoef">1</th>
                        <th class="upcomingMatchCoef">X</th>
                        <th class="upcomingMatchCoef">2</th>
                        @if (User.IsInRole("Administrator"))
                        {
                            <th class="adminActionsSmall"></th>
                            <th class="adminActionsSmall"></th>
                            <th class="adminActionsLarge"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var match in kvp.Value)
                    {
                        <tr class="singleUpcomingMatch" id="match-info-row-@match.Id" onmouseover="changeTimeBackground(@match.Id)" onmouseout="resetTimeBackground(@match.Id)">
                            <td class="text-right upcomingMatchTeamName" >
                                <a href="/Matches/Details/@match.Id" class="matchLink match-info-@match.Id">
                                    @match.HomeTeam.Name <img src="@match.HomeTeam.LogoLink" alt="Logo" class="team-logo-small" />
                                </a>
                            </td>
                            <td class="upcomingMatchesSmallCell time" id="time-@match.Id">
                                <a href="/Matches/Details/@match.Id" class="matchLink">
                                    @if (match.IsResultUpdated)
                                    {
                                        @match.Result
                                    }
                                    else
                                    {
                                        @match.GetTime()
                                    }
                                </a>
                            </td>
                            <td class="text-left upcomingMatchTeamName">
                                <a href="/Matches/Details/@match.Id" class="matchLink match-info-@match.Id">
                                    <img src="@match.AwayTeam.LogoLink" alt="Logo" class="team-logo-small"/> @match.AwayTeam.Name
                                </a>
                            </td>
                            <td class="upcomingMatchCoef match-info-@match.Id">
                                <a href="/Matches/Details/@match.Id" class="matchLink match-info-@match.Id">@match.HomeCoefficient</a>
                            </td>
                            <td class="upcomingMatchCoef match-info-@match.Id">
                                <a href="/Matches/Details/@match.Id" class="matchLink match-info-@match.Id">@match.DrawCoefficient</a>
                            </td>
                            <td class="upcomingMatchCoef match-info-@match.Id">
                                <a href="/Matches/Details/@match.Id" class="matchLink match-info-@match.Id">@match.AwayCoefficient</a>
                            </td>
                            @if (User.IsInRole("Administrator"))
                            {
                                <td class="adminActionsSmall" >
                                    <a href="/Matches/Delete/@match.Id" class="matchLink">Delete</a>
                                </td>
                                <td class="adminActionsSmall">
                                    <a href="/Matches/Edit/@match.Id" class="matchLink">Edit</a>
                                </td>
                                <td class="adminActionsLarge">
                                    @Html.ActionLink("Update result", "UpdateResult", new { id = match.Id })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

<script>
    function changeTimeBackground(rowId) {
        let timeCell = $('#time-' + rowId);

        timeCell.css('background', 'white').children().css('color', 'darkgreen');

        for (let i = 0; i < $($(".match-info-" + rowId)).length; i++) {
            let currentElement = $($(".match-info-" + rowId)[i]);
            currentElement.css('color', 'white');
        }
    }

    function resetTimeBackground(rowId) {
        let timeCell = $('#time-' + rowId);

        timeCell.css('background', 'darkgreen').children().css('color', 'white');

        for (let i = 0; i < $($(".match-info-" + rowId)).length; i++) {
            let currentElement = $($(".match-info-" + rowId)[i]);
            currentElement.css('color', 'black');
        }
    }
</script>