@model SoftwareTechnologiesTeamProject.ViewModels.MatchesIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Home team
        </th>
        <th>
            Away team
        </th>
        <th>
            Result
        </th>
        <th>
            Home team votes
        </th>
        <th>
            Draw votes
        </th>
        <th>
            Away team votes
        </th>
        <th></th>
    </tr>

    @foreach (var match in Model.Matches)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => match.HomeTeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => match.AwayTeamName)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => match.Result)
            </td>
      
            @if (match.HasVoted(Model.User))
            {
                <td>
                    @Html.DisplayFor(modelItem => match.HomeTeamVotes)
                </td>
                <td> 
                    @Html.DisplayFor(modelItem => match.DrawVotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => match.AwayTeamVotes)
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Vote", "AddVote", new { id = @match.Id, voteType = "home" })
                </td>
                <td>
                    @Html.ActionLink("Vote", "AddVote", new { id = @match.Id, voteType = "draw" })
                </td>
                <td>
                    @Html.ActionLink("Vote", "AddVote", new { id = @match.Id, voteType = "away" })
                </td>
            }

            
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = match.Id})
            </td>
        </tr>
    }

</table>



